<div id="kt_content_container" class="container-xxl">
  <div class="card">
    <%= simple_form_for @customer do |form| %>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-9">
            <%= form.input :name %>
          </div>
          <div class="col-12 col-md-3">
            <%= form.input :dob, html5: true %>
          </div>
        </div>
        <%= form.input :mobile_phone %>
          <%= form.input :email %>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <%= link_to "Voltar", customers_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <%= form.button :button, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
      </div>
    <% end %>
  </div>
</div>